/*   ALL Styles  */

/* HEADER CSS */
/* Variable for dark mode and stars */
/*
body {
    background: black;
  }
  
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(255,255,255,0.0);
    border-radius: 5px;
  }
  
  @keyframes twinkle {
    0% {
      transform: scale(1, 1);
      background: rgba(255,255,255,0.0);
      animation-timing-function: ease-in;
    }
    60% {
      transform: scale(0.8, 0.8);
      background: rgba(255,255,255,1);
      animation-timing-function: ease-out;
    }
    80% {
      background: rgba(255,255,255,0.00);
      transform: scale(1, 1);
    }
    
    100% {
      background: rgba(255,255,255,0.0);
      transform: scale(1, 1);
    }
  }
  */

* {
    box-sizing: border-box;
  }
  .min-body {
    margin: 0;
    background-color: #95d0ff;
    max-height: 50%;
    max-width:100%;
  }

  header { 
    
    padding-top: 40%;
    margin-top: 4%;
    font-family: 'Sucrose Bold Two';
    /*
    border-bottom: 15px solid black; */
    overflow: hidden;
  }

  header img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
  }

     #logo {
     
     position: absolute;
     object-fit: scale-down;
    
    object-position: center bottom;
     mix-blend-mode: darken;
     filter: drop-shadow(10px -30px 80px rgba(76, 165, 54, 0.171));
     

    }
    
  header h1 { 
    position: absolute;
    top: 1rem;
    right: 20%;
    font-size: 5.75vw;
    line-height: .8;
    margin-top: 10px;
    text-align: center; 
    filter: drop-shadow(0 -4mm 9mm darkgrey);
    overflow: hidden;
    
  }


  /* MIN HEADER */

  #min-head {
    padding-top: 15%;
    margin-top: 5%;
    font-family: 'Sucrose Bold Two';
    border-bottom: 1px solid black;
    overflow: hidden;
    }

  .min-header {
    max-height: 60%;
    overflow: hidden;
    margin-top: -6%;
      
  }


  #bg-trim {
    position: absolute;
    clip-path: inset(20% 0% 0% 0%);
    width: 100%;
    }
 
 
  #min-logo {
    display: absolute; 
    position:absolute;
    margin-right: 35%;
    margin-top: 13.8%;
    width: 15%;
    height: 15%;
    mix-blend-mode: darken;
    filter: drop-shadow(10px -30px 80px rgba(76, 165, 54, 0.171));
    overflow:hidden;
    max-height: 50%
   }

    /* sun ??? RIsing on light mode
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px yellow solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px 
    */



  header h1 span {
    display: flex;
    font-size: 8.75vw;
    position: absolute;
    left: 40%;
  }

  
  main { 
    
    background: #fff;
    position: relative;
    border: 5px solid black;
    font-family: sans-serif;
    font-size: 1.4rem;
    padding: 2rem 5%;
    line-height: 1.6;
    max-width:100%;
    object-position: top;

  }
  


  @media only screen and (min-width: 450px) {
    h1 { 
      margin-top: -90%; }
    }

    @media only screen and (min-width: 500px) {
      h1 { 
        margin-top: -70%; }
      }
  @media only screen and (min-width: 600px) {
    h1 { 
      margin-top: -50%; }
    }
  


  @media only screen and (min-width: 768px) {
      /* For mobile phones: */
     h1 {
        margin-top:  -20%;
      }
     
    }
  

    @media only screen and (width: 1300px) {
      h1 {
        margin-top:  -20%;
      }
    }



    @media only screen and (min-width: 1070px) {
      /* For mobile phones: */
     h1 {
        margin-top:  0%;
      }
    }
    



.body-grid {
    display: flexbox;
    max-width: 88%;
    overflow:visible;
    justify-content: flex-start;
    margin-top: -30%;
}

div.nav-container
{ 
  
    position: sticky;
    top: 30%;
    font-family: sans-serif;
    line-height: 1.6;
    margin-left: 90%;   
    max-width:16%;
    height: 100%;
    backdrop-filter: grayscale(100%);

}

#top-menu-nav
{
    display: flex; 
    flex-direction: column;
    justify-content: left;
    position: relative;

    }

.menu-item { 
  margin-top: 15px;
  padding: 5%;
    
}


button {
    font-weight: 900;
}

button:hover {
    cursor: pointer;
}

/* BODY CONTENT CSS */

.body-text-container{
  
    color: #292929;
        
}

h1 {
    font-size: 2.2em;
    display: flex;
    justify-content: center;
    object-position: top;
    position: relative;
    
}
h2 {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}


button {
    text-transform: uppercase;
}






/*CSS for Dark Mode Toggle

Copy and paste this code into it's own dark.css file. Keep all you dark mode
styles there, and make sure when you link to this sheet in your html head,
make it the bottom css link tag so it overrides all other styles.
At the bottom, that's where you start to add your dark mode styles by
starting starting with "body.dark-mode" and add your class you want to
target at the end. For example,

body.dark-mode .heading-one {}

then add your css properties like normal. That's it!
Scroll to the bottom to start adding your dark mode styles

*/

/* note that Internet Explorer does not support css variables */


/*  dark mode styles here, like so: */
/*
:root {
    --dark: #000;
    --medium: #1b1b1b;
    --light: #2e2e2e;
}
body.dark-mode .targetElement {
    background: #000000;
}

.dark-mode-button {
    background: transparent;
    border: none;
    height: 40px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-dark-mode-button {
    position: absolute;
    top: 60px;
    right: 15px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 1000;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}

.top-dark-mode-button .dark-toggle {
    background: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
    width: 35px;
}

.top-dark-mode-button:after {
    content: 'DARK';
    position: absolute;
    color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 22px;
    top: 10px;
    -webkit-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    transition: .1s ease-in;
}

body.dark-mode .top-dark-mode-button:after {
    content: 'LIGHT';
    color: var(--primary);
    top: 12px;
}

.dark-toggle {
    margin: 0;
    width: 30px;
    height: 16px;
    z-index: 20;
    border-radius: 10px;
    background: transparent;
    border: 3px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1000;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

body.dark-mode .dark-toggle {
    background: rgb(67,183,255);
    background: -o-linear-gradient(left, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(67,183,255,1)), to(rgba(0,221,246,1)));
    background: linear-gradient(90deg, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43b7ff",endColorstr="#00ddf6",GradientType=1);
    border: none;
}

.dark-toggle span {
    height: 20px;
    width: 20px;
    left: -8px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

body.dark-mode .dark-toggle span {
    left: 15px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.top-dark-mode-button .dark-toggle {
    background: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
    width: 35px;
}


/* Begin adding your dark mode styles here, like so: */

body.dark-mode {
    background: #000
}

body.dark-mode p {
    color: #fff
}



/* Gallery page CSS */


.gallery {
    

    display: flex-grid;
    
    height: min-content;
    gap: 15px;

    overflow:hidden;
    padding: 30px;
    
  }

  /* About Page */
  
/* suns position*/
.sun{
  height: 10%;
  left: 5%;
	position: absolute;

	top: 5%;
  

}
/* for sun*/

.circle{
	height: 27.5px;
	width: 27.5px;
	position: absolute;
	top: 1.5px;
	left: 1.5px;
	background-color: yellow;
	border-radius: 50%;
}
.sunrays{
	height: 30px;
	width: 30px;
	position: absolute;
	background-color: #ffdd4a;
	box-shadow: 0 0 20px 3px #ff8,
				0 0 80px 10px #ff6;
	animation: rotate 10s linear infinite;
}

@keyframes rotate{
	100%{transform: rotate(360deg);}
}
.sunrays:before{
	content: '';
	height: 30px;
	width: 30px;
	position: absolute;
	background-color: #ffdd4a;
	transform: rotate(30deg);
}
.sunrays:after{
	content: '';
	height: 30px;
	width: 30px;
	position: absolute;
	background-color: #ffdd4a;
	transform: rotate(60deg);
}
/* SPACE AND STARS MOVING BEHIND TREEES
.sunrays:before{
	content: '';
	height: 50px;
	width: 50px;
	position: absolute;
	background-color: #ffdd4a;
	transform: rotate(30deg);
}
.sunrays:after{
	content: '';
	height: 1500px;
	width: 1500px;
	position: absolute;
	background-color: #ffdd4a;
	transform: rotate(60deg);
}
*/
    /*
    #e1f100 0%
    #fdd700f3 50%,
    #ebdf40 75%,
    #f5f4a8 100%,*/


/* for businesses */
.affiliate-container { 
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
  max-width: 88%;
}

  .membership-container { 
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: fit-content;
  margin-bottom: -8%;
  

}


/* footer CSS */

.footer-content {
    display: flex;
    justify-content: center;
}

.social-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;

}

i:hover {
    filter: drop-shadow(10px 100x 100px rgba(59, 233, 16, 0.171));
}


/* for ita logo */
.i {
  background-color:#739ec2;
  position: relative;
  margin-top: 65px;
  margin-right: 20px;
  width: 1.5rem;
  height: 5rem;
  margin-right: 12px;
  transform: rotate(0.5turn);

  animation: grow 2s linear reverse;
  transform: scaleX(1);
  }
  
    
  @keyframes grow{

  100%{height: 0;}
  }

 
.a, .t{
  color:#739ec2;
  position: relative;
  font-weight: bold;
  font-size: 150px;
  margin-left: -6px;

  bottom: 33px;
  
}

.ita {
  display:flex;
  justify-content: row;
  }

  /*for ita flower*/


/*for flower*/
.dot{
	position: absolute;
  bottom: 14.3rem;
  right: 17.25rem;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	background-color: #f8d545;
	box-shadow: 0 0 0 4px #d85,
				0 0 8px 4px #444,
				inset 0 0 8px #fd0;
	opacity: 0;
	animation: flower 2ms linear forwards;
}
@keyframes flower{
	72%{opacity: 0;}
	74%{opacity: 1;}
	100%{opacity: 1;}
}

.container {
height: 100px;
width: 100px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;

}

.droplet {
border-radius: 5px 90%;
border-style: solid;
border-width: 5px;
border-color: black;
height: 25px;
margin: auto;
width: 25px;
position: absolute;
top: 11.7rem;
left: 27.5rem;
/* top: 50%;
  right: 50%;*/
transform-origin: left top;
opacity: 0;
}

#no1 {
background: rgb(234, 238, 0);
animation: spin 5s;
animation-fill-mode: forwards;
animation-delay: 1s;
}

#no2 {
background: violet;
animation: spin2 5s;
animation-fill-mode: forwards;
animation-delay: 2s;
}

#no3 {
background: rgb(234, 238, 0);
animation: spin3 5s;
animation-fill-mode: forwards;
animation-delay: 3s;
}

#no4 {
background: violet;
animation: spin4 5s;
animation-fill-mode: forwards;
animation-delay: 4s;
}

#no5 {
background: rgb(234, 238, 0);
animation: spin5 5s;
animation-fill-mode: forwards;
animation-delay: 5s;
}

#no6 {
background: violet;
animation: spin6 5s;
animation-fill-mode: forwards;
animation-delay: 6s;
}

#no7 {
background:rgb(234, 238, 0);
animation: spin7 5s;
animation-fill-mode: forwards;
animation-delay: 7s;
}

#no8 {
background: violet;
animation: spin8 5s;
animation-fill-mode: forwards;
animation-delay: 8s;
}

#no9 {
background: rgb(234, 238, 0);
animation: spin9 5s;
animation-fill-mode: forwards;
animation-delay: 9s;
}

#no10 {
background: violet;
animation: spin10 5s;
animation-fill-mode: forwards;
animation-delay: 10s;
}


@keyframes spin {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(324deg) scale(1);
  transform: rotate(324deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(324deg) scale(1);
  transform: rotate(324deg) scale(1);
}
}

@keyframes spin2 {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(288deg) scale(1);
  transform: rotate(288deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(288deg) scale(1);
  transform: rotate(288deg) scale(1);
}
}

@keyframes spin3 {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(252deg) scale(1);
  transform: rotate(252deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(252deg) scale(1);
  transform: rotate(252deg) scale(1);
}
}

@keyframes spin4 {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(2160deg) scale(1);
  transform: rotate(216deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(216deg) scale(1);
  transform: rotate(216deg) scale(1);
}
}

@keyframes spin5 {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(180deg) scale(1);
  transform: rotate(180deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(180deg) scale(1);
  transform: rotate(180deg) scale(1);
}
}

@keyframes spin6 {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(144deg) scale(1);
  transform: rotate(144deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(144deg) scale(1);
  transform: rotate(144deg) scale(1);
}
}

@keyframes spin7 {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(108deg) scale(1);
  transform: rotate(108deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(108deg) scale(1);
  transform: rotate(108deg) scale(1);
}
}

@keyframes spin8 {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(72deg) scale(1);
  transform: rotate(72deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(72deg) scale(1);
  transform: rotate(72deg) scale(1);
}
}

@keyframes spin9 {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(36deg) scale(1);
  transform: rotate(36deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(36deg) scale(1);
  transform: rotate(36deg) scale(1);
}
}

@keyframes spin10 {
0% {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.01);
  transform: rotate(0deg) scale(0.01);
}
20% {
  opacity: 100;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}
100% {
  opacity: 100;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}

}

